<head>
  <style>
    .flex-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .flex-item {
      width: 60%;
    }
  </style>
</head>
<div>
  <!-- <h1 "Supply"></h1> -->
  <div class="flex-container">
    <h1>Supply</h1>
    <div class="flex-item">
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<% if (supply) { %>
<script>
  function replaceAll(str, char, replaceChar) {
    return str.split(char).join(replaceChar);
  }

  const ctx = document.getElementById('myChart');

  const supplyArg = '<%= supply %>';
  console.log(supplyArg);
  console.log(replaceAll(supplyArg, '&#34;'));
  const supply = JSON.parse(replaceAll(supplyArg, '&#34;', '"'));

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: supply.labels,
      datasets: [
        {
          label: 'Fuji',
          data: supply.data,
          fill: true,
          borderColor: 'rgb(2, 48, 71)',
          tension: 0.1,
        },
      ],
    },
  });
</script>
<% } %>
